<div class="flex flex-col gap-y-6">
  <%= render partial: 'users/user_card', locals: { user: @author } unless @author.nil? %>
  <div class="flex flex-col gap-y-8">
    <% @posts.each do |post| %>
      <div class="flex flex-col gap-y-2">
        <%= render post %>
        <%= render post.last_five_comments %>
      </div>
    <% end %>
  </div>
  <div class="mx-auto">
    <a class="rounded px-4 py-2 bg-white shadow-md outline outline-slate-200">
      Pagination
    </a>
  </div>
</div>
